<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application
        android:banner="@drawable/tv_banner"
        android:isGame="false">

        <service
            android:name=".server.WebcamStreamService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone|mediaProjection" />

        <activity
            android:name=".stream.ScreenCaptureRequestActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name=".stream.FocalStreamIntentReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.focal.android.action.START_AUDIO_STREAM" />
                <action android:name="com.focal.android.action.START_SCREEN_STREAM" />
                <action android:name="com.focal.android.action.STOP_STREAM" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".tv.ui.TvActivity"
            android:exported="true"
            android:banner="@drawable/tv_banner"
            android:label="${appLabel}"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
